.ai-chat_root__QQJDJ {
  position: relative;
  display: flex;
  width: 820px;
  height: 619px;
  margin: 0 auto;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  isolation: isolate;
  border-radius: 12px;
  box-shadow: 0 84px 24px 0 transparent, 0 54px 22px 0 rgba(0, 0, 0, 0.02),
    0 30px 18px 0 rgba(0, 0, 0, 0.06), 0 13px 13px 0 rgba(0, 0, 0, 0.1),
    0 3px 7px 0 rgba(0, 0, 0, 0.12);
  --scroll-progress: 0;
}
.ai-chat_root__QQJDJ:after {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
  border-radius: 12px;
  box-shadow: inset 0 0.5px 0 0 hsla(0, 0%, 100%, 0.3);
}
.ai-chat_root__QQJDJ .ai-chat_popover__jq15c {
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.4s ease-out;
}
.ai-chat_root__QQJDJ.ai-chat_isPositioned__Mx0j_ .ai-chat_popover__jq15c {
  opacity: 1;
}
div.ai-chat_trafficLights__2lyOX {
  position: static;
}
.ai-chat_sidebarIcon__RRMKC {
  color: var(--grey-200);
}
.ai-chat_sidebar__5XywA {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 320px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-right: none;
  border-radius: 12px 0 0 12px;
  transform: translateZ(0);
}
.ai-chat_header__72CTM {
  gap: 24px;
  width: 100%;
}
.ai-chat_header__72CTM,
.ai-chat_search__E4bVG {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 52px;
  padding: 0 20px;
  border-bottom: 1px solid #2a2a2b;
}
.ai-chat_search__E4bVG {
  color: var(--grey-200);
}
.ai-chat_sidebarGroup__wH4HE {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  margin-top: 16px;
}
.ai-chat_sidebarItem__9eNqF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40px;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 8px;
}
.ai-chat_sidebarItem__9eNqF.ai-chat_active__Il2EV {
  background: hsla(0, 0%, 100%, 0.1);
}
.ai-chat_sidebarItemDescription__DApcB {
  display: -webkit-box;
  margin-top: 4px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: hsla(0, 0%, 100%, 0.6);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ai-chat_label___c_zM {
  margin-bottom: 4px;
  margin-left: 12px;
  overflow: hidden;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  color: hsla(0, 0%, 100%, 0.6);
  text-overflow: ellipsis;
  letter-spacing: 0.1px;
}
.ai-chat_main__GBSuX {
  height: 100%;
  background: hsla(0, 0%, 8%, 0.8);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0 12px 12px 0;
  transform: translateZ(0);
}
.ai-chat_chat__7PkLv {
  display: flex;
  flex-direction: column;
}
.ai-chat_chatMessage__itBCz {
  display: flex;
  gap: 12px;
  padding: 12px;
}
.ai-chat_fromMe__amDDb {
  color: var(--grey-200);
}
.ai-chat_chatMessageContent__Oe2mh {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 2px;
  line-height: 1.4;
}
.ai-chat_chatMessageContent__Oe2mh strong {
  display: block;
  margin-bottom: 4px;
}
.ai-chat_chatMessageContent__Oe2mh ul {
  margin-top: 4px;
}
.ai-chat_chatMessageContent__Oe2mh ul li {
  margin-bottom: 4px;
  margin-left: 16px;
  list-style: disc;
}
.ai-chat_toolCalls__A2HJ_ {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.ai-chat_toolCall__0qzms {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 10px 8px;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 500;
  color: var(--grey-200);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
}
.ai-chat_toolCall__0qzms img {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.ai-chat_underline__Y_ynb {
  text-decoration: underline;
}
.ai-chat_avatar__Gdagu {
  border-radius: 50%;
  transform: scale(0.85);
}
.ai-chat_aiAvatar__eExOC,
.ai-chat_avatar__Gdagu {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.ai-chat_footer__DgYac {
  padding: 0 16px;
  margin-top: auto;
}
.ai-chat_composer__Hu834 {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 6px;
  font-size: 12px;
  color: var(--grey-200);
  background: hsla(0, 0%, 100%, 0.05);
  -webkit-backdrop-filter: blur(45px);
  backdrop-filter: blur(45px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 6px;
  transform: translateZ(0);
}
.ai-chat_composerInput__CEuCY {
  position: relative;
  width: 100%;
}
.ai-chat_cursor__kd9VS {
  position: absolute;
  left: 0;
}
.ai-chat_cursor__kd9VS:before {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 2px;
  height: 14px;
  content: "";
  background-color: #fff;
  border-radius: 1px;
  animation: ai-chat_blink__XTGtJ 1.1s step-end infinite;
}
@keyframes ai-chat_blink__XTGtJ {
  50% {
    opacity: 0;
  }
}
.ai-chat_composerActions__kyEZs {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: hsla(0, 0%, 100%, 0.4);
  text-overflow: ellipsis;
  letter-spacing: 0.097px;
}
.ai-chat_composerActionsItems___1zQd {
  display: flex;
  gap: 8px;
  align-items: center;
}
.ai-chat_composerActionsItem__X0QLd {
  display: flex;
  gap: 4px;
  align-items: center;
}
.ai-chat_composerActionsItemDivider__jN4T7 {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 10px;
  content: "";
  background-color: hsla(0, 0%, 100%, 0.1);
}
.ai-chat_popover__jq15c {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  font-size: 13px;
  color: var(--grey-200);
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(36px);
  backdrop-filter: blur(36px);
  border: 1px solid hsla(270, 2%, 56%, 0.2);
  border-radius: 12px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.8), 0 4px 40px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s ease-out;
  transform: translateZ(0);
}
.ai-chat_popoverHeader__pQDGh {
  padding: 12px 16px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.ai-chat_popoverContent__iYus9 {
  padding: 12px 16px;
}
.ai-chat_popoverLabel__Kt14f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}
.ai-chat_popoverItem__gq1av {
  display: flex;
  align-items: center;
  height: 32px;
  color: #fff;
}
.ai-chat_popoverItemDescription___qDxz {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
  color: hsla(0, 0%, 100%, 0.6);
}
.ai-chat_popoverSection__GOy48 {
  margin-top: 6px;
}
.ai-chat_popoverSection__GOy48 + .ai-chat_popoverSection__GOy48 {
  margin-top: 16px;
}
.ai-chat_popoverExtension__AcfWp {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}
.ai-chat_popoverExtensionName__jzO7l {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  color: #fff;
}
.ai-chat_popoverExtensionActions__yoAf0 {
  display: flex;
  gap: 8px;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.4);
}
.ai-chat_popoverExtensions__B_aDq {
  margin-top: 10px;
}
.ai-chat_popoverButton__IeTvf {
  gap: 4px;
  align-self: stretch;
  justify-content: center;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 6px;
}
.ai-chat_input__1q6kg,
.ai-chat_popoverButton__IeTvf {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: #fff;
}
.ai-chat_input__1q6kg {
  gap: 6px;
  margin-bottom: 20px;
  background: hsla(0, 0%, 100%, 0.03);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 6px;
}
.ai-chat_placeholder__1YOQd {
  color: hsla(0, 0%, 100%, 0.4);
}
.ai-chat_popoverInputLabel__1Lfpn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.6);
}
.ai-chat_bottomPopover__CSC2f {
  transform: translateY(calc(20px - (var(--scroll-progress) * 40px)));
}
.ai-chat_topPopover__o99J4 {
  transform: translateY(calc(20px - (var(--scroll-progress) * 20px)));
}
