.Navbar_container__x_wnu {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--spacing-2)
    calc(var(--spacing-2) + var(--removed-body-scroll-bar-size)) 0
    var(--spacing-2);
  overscroll-behavior: contain;
  transform: translateX(-50%);
}
.Navbar_container__x_wnu.Navbar_menuOpened___q5q3 {
  min-height: 100vh;
  max-height: 100vh;
  padding-bottom: var(--spacing-3);
  overflow-y: scroll;
}
.Navbar_navbar__XlgWY {
  display: grid;
  grid-template-rows: 24px auto;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
  max-width: var(--container-width);
  height: var(--navbar-height);
  padding: var(--spacing-2);
  overflow: hidden;
  background: linear-gradient(
    137deg,
    rgba(17, 18, 20, 0.75) 4.87%,
    rgba(12, 13, 15, 0.9) 75.88%
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid var(--Card-Border, hsla(0, 0%, 100%, 0.06));
  border-radius: var(--rounding-lg);
  box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.15);
  transition: height 0.3s ease, transform 0.3s ease;
  transform: translateZ(0);
  will-change: height, transform;
}
.Navbar_logoContainer__enocR {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Navbar_logoContainer__enocR > a {
  display: contents;
}
.Navbar_logoContainer__enocR .Navbar_logo__ycYQk {
  display: none;
}
.Navbar_logoContainer__enocR .Navbar_logoFull__sb4tB,
.Navbar_logoContainer__enocR .Navbar_logo__ycYQk {
  height: 24px;
  transition: transform 0.2s ease;
}
.Navbar_logoContainer__enocR .Navbar_logoFull__sb4tB:focus,
.Navbar_logoContainer__enocR .Navbar_logoFull__sb4tB:hover,
.Navbar_logoContainer__enocR .Navbar_logo__ycYQk:focus,
.Navbar_logoContainer__enocR .Navbar_logo__ycYQk:hover {
  transform: scale(1.05);
}
.Navbar_navToggle__skv0c {
  position: relative;
  width: 24px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.3s ease;
  transform: translateY(0) rotate(0deg);
  will-change: transform;
}
.Navbar_menuOpened___q5q3 .Navbar_navToggle__skv0c {
  transform: translateY(0) rotate(180deg);
}
.Navbar_menuOpened___q5q3
  .Navbar_navToggle__skv0c
  .Navbar_navToggleLine__wBYSL:first-child {
  top: 50%;
  transform: translate(-50%) rotate(-45deg);
}
.Navbar_menuOpened___q5q3
  .Navbar_navToggle__skv0c
  .Navbar_navToggleLine__wBYSL:nth-child(2) {
  top: 50%;
  opacity: 0;
  transform: translate(-50%);
}
.Navbar_menuOpened___q5q3
  .Navbar_navToggle__skv0c
  .Navbar_navToggleLine__wBYSL:nth-child(3) {
  top: 50%;
  transform: translate(-50%) rotate(45deg);
}
.Navbar_navToggleLine__wBYSL {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 1px;
  background: hsla(0, 0%, 100%, 0.9);
  transition: transform 0.5s, opacity 0.25s;
  transform: translate(-50%, -50%);
  will-change: normal;
}
.Navbar_navToggleLine__wBYSL:first-child {
  top: 10%;
}
.Navbar_navToggleLine__wBYSL:nth-child(2) {
  top: 50%;
}
.Navbar_navToggleLine__wBYSL:nth-child(3) {
  top: 90%;
}
.Navbar_navigation__sNAXS {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0-5);
  padding: var(--spacing-6) 0 var(--spacing-4);
}
.Navbar_secondary__UAPPh {
  display: flex;
  padding-top: var(--spacing-4);
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}
.Navbar_signedOutWide__P7f_w {
  display: flex;
}
.Navbar_signedOutWide__P7f_w .Navbar_downloadButton__yQ3j6 {
  display: none;
}
.Navbar_signedOutMedium__sdlYf {
  display: none;
  align-items: center;
}
.Navbar_logOutLink__cBO5V {
  color: #ff6363;
}
.Navbar_logOutLink__cBO5V:hover {
  color: #f28c8c;
}
.Navbar_signedInMenuContainer__b8kqU {
  flex-grow: 1;
}
.Navbar_signedInAction__LMhGM {
  display: none;
}
.Navbar_signedInMenu__r14qn {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0-5);
}
@media (min-width: 880px) {
  .Navbar_navbar__XlgWY {
    display: flex;
    padding: var(--spacing-2) var(--spacing-4);
    overflow: visible;
  }
  .Navbar_logoContainer__enocR {
    position: absolute;
    top: 50%;
    left: var(--spacing-4);
    justify-content: center;
    width: auto;
    transform: translateY(-50%);
  }
  .Navbar_logoContainer__enocR .Navbar_logo__ycYQk {
    display: block;
  }
  .Navbar_logoContainer__enocR .Navbar_logoFull__sb4tB,
  .Navbar_navToggle__skv0c {
    display: none;
  }
  .Navbar_navigation__sNAXS {
    flex-direction: row;
    gap: var(--spacing-2);
    align-items: center;
    padding: 0;
  }
  .Navbar_secondary__UAPPh {
    position: absolute;
    top: 50%;
    right: var(--spacing-4);
    display: grid;
    align-items: center;
    height: 100%;
    padding: 0;
    border-top: none;
    transform: translateY(-50%);
  }
  .Navbar_secondary__UAPPh.Navbar_loading__Qz_aU {
    visibility: hidden;
  }
  .Navbar_signedOutWide__P7f_w {
    display: none;
  }
  .Navbar_signedOutMedium__sdlYf {
    display: flex;
  }
  @keyframes Navbar_slideIn__6YfDM {
    0% {
      opacity: 0;
      transform: translateY(-3%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .Navbar_signedInMenuContainer__b8kqU {
    position: relative;
  }
  .Navbar_signedInMenuContainer__b8kqU:hover .Navbar_signedInMenu__r14qn {
    display: flex;
    animation: Navbar_slideIn__6YfDM 0.3s ease forwards;
  }
  .Navbar_signedInAction__LMhGM {
    display: flex;
    gap: var(--spacing-1);
    align-items: center;
    padding: var(--spacing-1) 0;
    cursor: pointer;
  }
  .Navbar_signedInAction__LMhGM > svg {
    width: 20px;
    height: 20px;
    color: var(--grey-400);
  }
  .Navbar_signedInMenu__r14qn {
    position: absolute;
    top: 100%;
    right: -10px;
    display: none;
    gap: 0;
    min-width: 140px;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(
      137deg,
      rgba(17, 18, 20, 0.75) 4.87%,
      rgba(12, 13, 15, 0.9) 75.88%
    );
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid var(--Card-Border, hsla(0, 0%, 100%, 0.06));
    border-radius: var(--rounding-sm);
    box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateZ(0);
  }
  .Navbar_signedInMenu__r14qn > * {
    padding: var(--spacing-2);
  }
  .Navbar_signedInMenu__r14qn > :not(:last-child) {
    border-bottom: 1px solid var(--grey-600);
  }
}
@media (min-width: 1064px) {
  .Navbar_logoContainer__enocR .Navbar_logoFull__sb4tB {
    display: block;
  }
  .Navbar_logoContainer__enocR .Navbar_logo__ycYQk {
    display: none;
  }
  .Navbar_signedOutWide__P7f_w {
    display: flex;
    gap: var(--spacing-3);
    align-items: center;
  }
  .Navbar_signedOutWide__P7f_w > .Navbar_downloadButton__yQ3j6 {
    display: flex;
  }
  .Navbar_signedOutMedium__sdlYf {
    display: none;
  }
}
