.models_root__pQ3GH {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1045px;
    height: 1045px;
    -webkit-mask-image: radial-gradient(circle at 0 0,#fff 43%,rgba(0,0,0,.01) 60%);
    mask-image: radial-gradient(circle at 0 0,#fff 43%,rgba(0,0,0,.01) 60%)
}

.models_screen__wbS_4 {
    width: 393px;
    height: 852px;
    transform: matrix(.87,.5,-.87,.5,0,0)
}

.models_blur__eu9tQ {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: hsla(0,0%,100%,.01);
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    border-radius: 48px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.06);
    opacity: 0;
    transition: all 1.5s cubic-bezier(.05,.9,.1,1),opacity 1s cubic-bezier(.05,.9,.1,1);
    transform: translate3d(80px,80px,0)
}

.models_blur__eu9tQ.models_active__MnGVf {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    opacity: 1;
    transform: translate3d(-80px,-80px,0);
    --root-delay: 0.25s;
    --transition: all 1.8s cubic-bezier(0.05,0.9,0.1,1)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="0"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + .25s);
    transform: translate(-160px,-160px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="1"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + .225s);
    transform: translate(-130px,-130px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="2"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + .2s);
    transform: translate(-105px,-105px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="3"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + .175s);
    transform: translate(-85px,-85px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="4"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + .15s);
    transform: translate(-68px,-68px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="5"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + .125s);
    transform: translate(-52px,-52px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="6"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + .1s);
    transform: translate(-38px,-38px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="7"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + 75ms);
    transform: translate(-26px,-26px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="8"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + .05s);
    transform: translate(-16px,-16px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="9"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + 25ms);
    transform: translate(-8px,-8px)
}

.models_blur__eu9tQ.models_active__MnGVf .models_provider__e93S7[data-index="10"] {
    opacity: 1;
    transition: var(--transition);
    transition-delay: calc(var(--root-delay) + 0s);
    transform: translate(0)
}

.models_close__QK3Uk {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: hsla(0,0%,100%,.06);
    border: .5px solid hsla(0,0%,100%,.06);
    border-radius: 16px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1);
    transform: translate3d(-50%,0,0)
}

.models_title__i69OL {
    position: absolute;
    top: 20px;
    left: 50%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transform: translateX(-50%)
}

.models_providers__xQg6G {
    position: absolute;
    bottom: 200px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.models_provider__e93S7 {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 17px;
    opacity: 0;
    transform: translate(0)
}

.whisper_root__sghLg {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    max-width: 395px;
    height: 240px;
    margin: 0 auto;
    -webkit-mask-image: linear-gradient(0deg,#fff 0,rgba(0,0,0,.01) 90%);
    mask-image: linear-gradient(0deg,#fff 0,rgba(0,0,0,.01) 90%);
    transform: translateY(-40px)
}

@media (min-width: 480px) {
    .whisper_root__sghLg {
        height:300px
    }
}

@media (min-width: 768px) {
    .whisper_root__sghLg {
        height:200px
    }
}

@media (min-width: 900px) {
    .whisper_root__sghLg {
        height:280px
    }
}

.whisper_mock__tDzPR {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%
}

.whisper_device__Npj6T {
    position: absolute;
    width: 100%;
    height: auto
}

.whisper_device__Npj6T img {
    width: auto;
    max-width: 200px!important
}

.whisper_composer__wbCSL {
    width: calc(100% - 32px);
    height: 64px;
    overflow: hidden;
    background: #100f12;
    border-radius: 24px;
    box-shadow: 0 0 0 .5px hsla(0,0%,100%,.12);
    transform: translateY(-40px);
    transform-origin: center
}

.whisper_composer__wbCSL,.whisper_recordingGradient__ZhUPI {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center
}

.whisper_bottom__f_BLd {
    position: absolute;
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding: 8px
}

.whisper_attachment__UCuVi,.whisper_clear__kedxO {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px
}

.whisper_clear__kedxO {
    opacity: .6
}

.whisper_placeholder__GIDBi {
    display: flex;
    width: 100%;
    font-size: 17px;
    color: #ffffff50
}

.whisper_voice__8tjTP {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 48px;
    background: #00000032;
    border-radius: 16px;
    box-shadow: 0 0 0 .5px hsla(0,0%,100%,.12)
}

.whisper_circle__QwHSB {
    width: 120px;
    height: 120px;
    filter: blur(80px);
    border-radius: 50%;
    opacity: .3;
    transition: opacity .6s,transform .6s;
    transform: translateZ(0)
}

.whisper_circle__QwHSB:first-child {
    animation: whisper_scale__aQ__6 1.2s infinite alternate
}

.whisper_circle__QwHSB:nth-child(2) {
    animation: whisper_scale__aQ__6 1.4s infinite alternate
}

.whisper_circle__QwHSB:nth-child(3) {
    animation: whisper_scale__aQ__6 1.6s infinite alternate
}

@keyframes whisper_scale__aQ__6 {
    0% {
        opacity: .3;
        transform: scale(1)
    }

    to {
        opacity: 1;
        transform: scale(1.5)
    }
}

@keyframes whisper_wave___Ad82 {
    0% {
        height: 4px;
        y: 8px
    }

    50% {
        height: 12px;
        y: 4px
    }

    to {
        height: 4px;
        y: 8px
    }
}

@keyframes whisper_wave2__YJyGF {
    0% {
        height: 16px;
        y: 2px
    }

    50% {
        height: 8px;
        y: 6px
    }

    to {
        height: 16px;
        y: 2px
    }
}

@keyframes whisper_wave3__SCpMM {
    0% {
        height: 10px;
        y: 5px
    }

    50% {
        height: 14px;
        y: 3px
    }

    to {
        height: 10px;
        y: 5px
    }
}

@keyframes whisper_wave4__gBYKd {
    0% {
        height: 6px;
        y: 7px
    }

    50% {
        height: 10px;
        y: 5px
    }

    to {
        height: 6px;
        y: 7px
    }
}

.whisper_bar1__3kZLf {
    animation: whisper_wave___Ad82 2s ease-in-out infinite
}

.whisper_bar2__8fGqu {
    animation: whisper_wave2__YJyGF 2.2s ease-in-out infinite
}

.whisper_bar3__hkPWO {
    animation: whisper_wave3__SCpMM 1.8s ease-in-out infinite
}

.whisper_bar4__8l3YR {
    animation: whisper_wave4__gBYKd 1.4s ease-in-out infinite
}
