.ArrowLink_link__WKebC {
  display: inline-flex;
  gap: 3px;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: var(--Text-Default, var(--grey-200));
  letter-spacing: 0.3px;
  transition: color 0.3s ease;
}
.ArrowLink_link__WKebC.ArrowLink_right__JqBQt:hover .ArrowLink_svg__F9BZP {
  transform: translateX(2px);
}
.ArrowLink_link__WKebC.ArrowLink_north-east__H4dwD:hover .ArrowLink_svg__F9BZP {
  transform: translate(2px, -2px);
}
.ArrowLink_link__WKebC:hover {
  color: var(--Text-Loud, var(--Base-White, #fff));
}
.ArrowLink_link__WKebC .ArrowLink_svg__F9BZP {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}
